In [23]:
import pandas as pd

In [24]:
data = pd.read_excel("Customer_Behavior.xlsx")

In [25]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# 1. import_data(filename: str) -> pd.DataFrame

Description: Import the dataset from an Excel or CSV file into a DataFrame.
Parameters:
filename: The name of the dataset file (string).
Returns: A Pandas DataFrame with the dataset.
Notes: Ensure that this function can read both Excel and CSV formats.

In [30]:
def import_data(filename):
    return pd.read_excel(filename)
data = import_data("Customer_Behavior.xlsx")
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# 2. filter_data(df: pd.DataFrame) -> pd.DataFrame

Description: Filter the data by removing rows with any missing CustomerID and excluding rows with negative values in either Quantity or UnitPrice.
Parameters:
df: The raw DataFrame.
Returns: A filtered DataFrame with complete and positive records only.

In [27]:
filter1 = data["CustomerID"].isna()
filter2 = data["Quantity"]<0
filter3 = data["UnitPrice"]<0

filtered_data = data[~filter1 & ~filter2 & ~filter3]

In [29]:
print(len(filtered_data))
print(len(data))

397924
541909

# 3. loyalty_customers(df: pd.DataFrame, min_purchases: int) -> pd.DataFrame

Description: Identify loyal customers based on a minimum purchase threshold.
Parameters:
df: The cleaned DataFrame.
min_purchases: Minimum number of purchases required to qualify as a loyal customer.
Returns: A DataFrame listing customers who have made at least min_purchases transactions, including the count of their purchases.